<h1>DBP Utility Demo</h1>

<%= t('locale')%> <%= link_to 'Rus', '/?locale=ru' %> <%= link_to 'Eng', '/?locale=en' %>

<h2 id='github'>Github actions</h2>
<ul>
  <li>
    <%= link_to t('external_links.github_actions'), actions_link, target: :_blank %>
  </li>
</ul>

<h2 id='rollbar'>Rollbar</h2>
<ul>
  <li><%= t('notes.hide_token') %></li>
  <li>
    <%= link_to t('external_links.dashboards.rollbar'), rollbar_link, target: :_blank %>
  </li>
</ul>
<ul>
  <li>
    <%= link_to t('internal_links.error_page'), errors_url, target: :_blank %>
  </li>
</ul>

<h2 id='bullet'>Bullet</h2>
<ul>
  <li>
    <%= link_to t('internal_links.no_n_plus_one_page'), actors_url, target: :_blank %>
  </li>
  <li>
    <%= link_to t('internal_links.n_plus_one_page'), actors_n_plus_one_index_url, target: :_blank %>
  </li>
</ul>

<h2 id='new_relic'>New Relic</h2>
<ul>
  <li><%= t('notes.hide_token') %></li>
</ul>
<ul>
  <li>
    <%= link_to t('external_links.dashboards.new_relic'), @new_relic_dashboard, target: :_blank %>
  </li>
</ul>



<h2 id='coverage'>Coverage</h2>
<ul>
  <li><%= t('notes.coverage.not_stored_in_repo') %></li>
  <li><%= t('notes.coverage.generate_on_demand') %></li>
</ul>
<ul>
  <li>
    <%= link_to t('internal_links.coverage'), '/coverage/index.html', target: :_blank %>
  </li>
  <li>
    <%= link_to t('external_links.dashboards.coveralls'), coveralls_link, target: :_blank %>
  </li>
</ul>
